*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

img {
  display: block;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header {
  position: relative;
}

@media screen and (max-width: 767px) {
  .page-header {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ececec;
  }
}

@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    padding-bottom: 25px;
    padding-top: 24px;
  }
}

.header-logo {
  color: #000000;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
}

@media screen and (max-width: 767px) {
  .header-logo {
    margin-right: 276px;
  }
}

.main-nav {
  display: flex;
  align-items: center;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button:hover, .menu-button:focus {
  fill: #2196f3;
}

@media screen and (min-width: 767px) {
  .menu-button {
    display: none;
  }
}

.logo {
  color: #2196f3;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    background-color: #ffffff;
    top: 100%;
    left: 0;
    width: 100%;
    border-top: 1px solid #ececec;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 140px;
    padding-right: 140px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    align-items: center;
  }
}

.site-nav {
  list-style-type: none;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.site-nav .link {
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .site-nav .item {
    margin-bottom: 40px;
  }
  .site-nav .item:last-child {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: inline-flex;
    margin-left: 83px;
    margin-right: 84px;
  }
  .site-nav .item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
    margin-right: 301px;
  }
}

.current-link {
  display: inline-block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
  text-decoration: none;
}

.current-link:hover, .current-link:focus {
  color: #2196f3;
}

.current-link::after {
  display: block;
  content: '';
  position: absolute;
  bottom: -8px;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  text-align: center;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .current-link::after {
    bottom: -32px;
  }
}

.contacts {
  list-style-type: none;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  list-style: none;
}

.contacts .link {
  color: #757575;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .link:hover,
.contacts .link:focus {
  color: #2196f3;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .contacts-list:last-child {
    margin-bottom: 0px;
  }
  .contacts-list {
    margin-bottom: 16px;
    font-size: 12px;
    font-size: 18px;
    line-height: 1.16;
  }
}

@media screen and (max-width: 1199px) {
  .contacts {
    display: block;
  }
  .contacts-list {
    font-size: 12px;
    line-height: 1.14;
  }
  .contacts-list:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
  .contacts-list:not(:last-child) {
    margin-right: 30px;
  }
}

.icon-contacts-envelope {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  border: none;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .icon-contacts-envelope {
    margin-right: 8px;
    width: 14px;
    height: 10px;
  }
}

.icon-contacts-smartphone {
  margin-right: 10px;
  width: 10px;
  height: 15px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .icon-contacts-smartphone {
    margin-right: 8px;
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .icon-contacts-smartphone {
    height: 16px;
  }
}

.link:hover .icon-contacts-envelope,
.link:focus .icon-contacts-envelope {
  fill: #2196f3;
}

.link:hover .icon-contacts-smartphone,
.link:focus .icon-contacts-smartphone {
  fill: #2196f3;
}

.container-hero {
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container-hero {
    padding: 118px 60px;
    max-width: 480px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero-mob.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .container-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero-mob@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .container-hero {
    padding: 118px 204px;
    max-width: 768px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero-tablet.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .container-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .container-hero {
    padding: 200px 452px;
    max-width: 1600px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .container-hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero/hero@2x.jpg");
  }
}

.hero-button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  background-color: #2196f3;
  color: #ffffff;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  border: 0px;
  min-width: 136px;
  min-height: 30px;
}

.hero-title {
  color: #ffffff;
  letter-spacing: 0.06em;
  font-size: 26px;
  line-height: 1.62;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.363;
  }
}

/* modal */
.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  width: 450px;
  height: 609px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-title {
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 12px;
  padding-left: 40px;
  padding-right: 40px;
}

.modal-form {
  padding-left: 40px;
  padding-right: 40px;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-form-input:hover {
  cursor: pointer;
}

.modal-form-input:focus ~ .icon-modal {
  fill: #2196f3;
}

.btn-modal {
  position: absolute;
  width: 0px;
  height: 0px;
  left: 91%;
  border: none;
  cursor: pointer;
}

.btn-modal:hover, .btn-modal:focus {
  fill: #2196f3;
}

.circle-modal {
  position: absolute;
  top: 8px;
  left: 4px;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-svg {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* form */
.label-form {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  cursor: pointer;
}

.icon-modal {
  position: absolute;
  bottom: 11px;
  width: 18px;
  height: 18px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.div-input {
  position: relative;
  margin-bottom: 10px;
}

.comment-message {
  width: 100%;
  height: 120px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
}

.comment-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
}

.comment-message:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.comment-message:hover {
  cursor: pointer;
}

.field {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.chekbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  transition: background-image 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.chekbox:checked + .icon-chekbox {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url("../img/check.svg");
  background-size: contain;
  background-origin: border-box;
}

.label-modal {
  font-weight: 400;
  font-size: 11.9px;
  line-height: 1.16;
  margin-left: 8px;
}

@media screen and (min-width: 1200px) {
  .label-modal {
    font-size: 14px;
    line-height: 1.71;
  }
}

.icon-chekbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
}

.submit-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  background-color: #2196f3;
  color: #ffffff;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 56px;
  border: 0px;
  min-width: 136px;
  min-height: 30px;
  cursor: pointer;
}

.div-submit {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

/* end-modal */
/* features */
.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features-title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  padding-top: 30px;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .features-title {
    text-align: center;
  }
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.features-list {
  list-style-type: none;
  display: block;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1199px) {
  .features-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features-item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features-item {
    width: 270px;
  }
}

.features-item.antenna::before {
  display: block;
  content: '';
  width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-image: url(../img/features/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .features-item.antenna::before {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features-item.antenna::before {
    width: 270px;
  }
}

.features-item.clock::before {
  display: block;
  content: '';
  width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-image: url(../img/features/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .features-item.clock::before {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features-item.clock::before {
    width: 270px;
  }
}

.features-item.diagram::before {
  display: block;
  content: '';
  width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-image: url(../img/features/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .features-item.diagram::before {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features-item.diagram::before {
    width: 270px;
  }
}

.features-item.astronaut::before {
  display: block;
  content: '';
  width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-image: url(../img/features/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .features-item.astronaut::before {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .features-item.astronaut::before {
    width: 270px;
  }
}

/* work */
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .work {
    padding-bottom: 94px;
  }
  .work-list {
    display: flex;
    list-style-type: none;
  }
  .work-item {
    margin-right: 30px;
    position: relative;
  }
  .work-item:last-child {
    margin-right: 0px;
  }
  .work-title {
    color: #212121;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
  }
  .label {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0%;
    height: 70px;
    width: 370px;
    background-color: rgba(47, 48, 58, 0.8);
    color: #ffffff;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}

/* end-work */
/* team */
.team {
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.team-title {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .team-title {
    font-size: 36px;
  }
}

.team-list {
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .team-item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-item:not(:last-child) {
    margin-right: 30px;
  }
}

.team-item {
  margin-bottom: 30px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .team-item:last-child {
    margin-bottom: 0px;
  }
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-profession {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.icon-team-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  margin-top: 16px;
  padding-bottom: 24px;
}

.icon-team-item:not(:last-child) {
  margin-right: 10px;
}

.icon-social {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: #2196f3;
}

.social-link:hover .icon-social,
.social-link:focus .icon-social {
  fill: #ffffff;
}

/* end-team */
/* clients */
.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-title {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .clients-title {
    font-size: 33px;
    line-height: 1.16;
  }
}

.clients-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .clients-list-item:nth-child(odd) {
    margin-right: 30px;
  }
  .clients-list-item:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list-item:nth-child(2) {
    margin-right: 30px;
    margin-left: 30px;
  }
  .clients-list-item:nth-child(5) {
    margin-right: 30px;
    margin-left: 30px;
  }
  .clients-list-item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.icon-clients-link {
  display: flex;
  width: 210px;
  height: 90px;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .icon-clients-link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .icon-clients-link {
    width: 170px;
  }
}

.icon-clients-link:hover, .icon-clients-link:focus {
  border: 1px solid #2196f3;
}

.icon-clients-link:hover .icon-clients-logo1,
.icon-clients-link:focus .icon-clients-logo1 {
  fill: #2196f3;
}

.icon-clients-link:hover .icon-clients-logo2,
.icon-clients-link:focus .icon-clients-logo2 {
  fill: #2196f3;
}

.icon-clients-link:hover .icon-clients-logo3,
.icon-clients-link:focus .icon-clients-logo3 {
  fill: #2196f3;
}

.icon-clients-link:hover .icon-clients-logo4,
.icon-clients-link:focus .icon-clients-logo4 {
  fill: #2196f3;
}

.icon-clients-link:hover .icon-clients-logo5,
.icon-clients-link:focus .icon-clients-logo5 {
  fill: #2196f3;
}

.icon-clients-link:hover .icon-clients-logo6,
.icon-clients-link:focus .icon-clients-logo6 {
  fill: #2196f3;
}

.icon-clients-logo1 {
  width: 44.27px;
  height: 49.23px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-clients-logo2 {
  width: 40px;
  height: 52px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-clients-logo3 {
  width: 41px;
  height: 42.6px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-clients-logo4 {
  width: 79.66px;
  height: 42.02px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-clients-logo5 {
  width: 59px;
  height: 47px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-clients-logo6 {
  width: 88.48px;
  height: 45.44px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* end-clients */
/*footer*/
.footer {
  display: block;
  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;
  width: 480px;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    width: 768px;
  }
}

.footer-list:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .footer-list:not(:last-child) {
    margin-bottom: 9px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-list:last-child {
    margin-bottom: 60px;
  }
}

.footer-logo {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .div-contacts {
    display: flex;
    justify-content: center;
  }
  .footer .div-footer-social {
    margin-left: 165px;
  }
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    align-items: baseline;
    width: 1600px;
    padding-left: 215px;
    padding-right: 1154px;
  }
}

@media screen and (min-width: 1200px) {
  .div-contacts {
    display: flex;
    align-items: baseline;
  }
}

.contacts-footer {
  display: block;
  list-style-type: none;
}

@media screen and (min-width: 1200px) {
  .contacts-footer {
    width: 231px;
  }
}

.contacts-footer .link {
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .contacts-footer .link {
    line-height: 1.71;
  }
}

.contacts-footer .link-adress {
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .contacts-footer .link-adress {
    line-height: 1.14;
  }
}

.contacts-footer .link:hover,
.contacts-footer .link:focus,
.contacts-footer .link-adress:hover,
.contacts-footer .link-adress:focus {
  color: #2196f3;
}

.logo-web {
  color: #2196f3;
  text-decoration: none;
}

/* social-footer */
@media screen and (min-width: 1200px) {
  .div-footer-social {
    margin-left: 70px;
  }
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-icon-item:not(:last-child) {
  margin-right: 10px;
}

.footer-icon-link:hover, .footer-icon-link:focus {
  background-color: #2196f3;
}

.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1199px) {
  .footer-icon-list {
    margin-bottom: 60px;
  }
}

/* mailing-footer */
@media screen and (min-width: 1200px) {
  .mailing-form {
    display: flex;
  }
  .mailing-form:last-child {
    align-items: flex-end;
  }
  .div-footer-mailing {
    margin-left: 93px;
  }
}

.mailing-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.input-mailing {
  width: 450px;
  height: 50px;
  padding-left: 16px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .input-mailing {
    width: 358px;
  }
}

@media screen and (max-width: 1199px) {
  .input-mailing {
    margin-bottom: 20px;
  }
}

.input-mailing:focus {
  outline: none;
}

.button-mailing {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  background-color: #2196f3;
  color: #ffffff;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-right: 33px;
  border: 0px;
  width: 200px;
  height: 50px;
  margin-left: 12px;
}

.mailing-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 16px;
  transform: translate(-50%, -50%);
}

/* end-footer */
/*# sourceMappingURL=main.css.map */