*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

img {
  display: block;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header {
  position: relative;
}

@media screen and (max-width: 767px) {
  .page-header {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ececec;
  }
}

@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    padding-bottom: 25px;
    padding-top: 24px;
  }
}

.header-logo {
  color: #000000;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
}

@media screen and (max-width: 767px) {
  .header-logo {
    margin-right: 276px;
  }
}

.main-nav {
  display: flex;
  align-items: center;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button:hover, .menu-button:focus {
  fill: #2196f3;
}

@media screen and (min-width: 767px) {
  .menu-button {
    display: none;
  }
}

.logo {
  color: #2196f3;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    background-color: #ffffff;
    top: 100%;
    left: 0;
    width: 100%;
    border-top: 1px solid #ececec;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 140px;
    padding-right: 140px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    align-items: center;
  }
}

.site-nav {
  list-style-type: none;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.site-nav .link {
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .site-nav .item {
    margin-bottom: 40px;
  }
  .site-nav .item:last-child {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: inline-flex;
    margin-left: 83px;
    margin-right: 84px;
  }
  .site-nav .item:not(:last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
    margin-right: 301px;
  }
}

.current-link {
  display: inline-block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
  text-decoration: none;
}

.current-link:hover, .current-link:focus {
  color: #2196f3;
}

.current-link::after {
  display: block;
  content: '';
  position: absolute;
  bottom: -8px;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  text-align: center;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .current-link::after {
    bottom: -32px;
  }
}

.contacts {
  list-style-type: none;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  list-style: none;
}

.contacts .link {
  color: #757575;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .link:hover,
.contacts .link:focus {
  color: #2196f3;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .contacts-list:last-child {
    margin-bottom: 0px;
  }
  .contacts-list {
    margin-bottom: 16px;
    font-size: 12px;
    font-size: 18px;
    line-height: 1.16;
  }
}

@media screen and (max-width: 1199px) {
  .contacts {
    display: block;
  }
  .contacts-list {
    font-size: 12px;
    line-height: 1.14;
  }
  .contacts-list:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
  .contacts-list:not(:last-child) {
    margin-right: 30px;
  }
}

.icon-contacts-envelope {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  border: none;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .icon-contacts-envelope {
    margin-right: 8px;
    width: 14px;
    height: 10px;
  }
}

.icon-contacts-smartphone {
  margin-right: 10px;
  width: 10px;
  height: 15px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .icon-contacts-smartphone {
    margin-right: 8px;
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .icon-contacts-smartphone {
    height: 16px;
  }
}

.link:hover .icon-contacts-envelope,
.link:focus .icon-contacts-envelope {
  fill: #2196f3;
}

.link:hover .icon-contacts-smartphone,
.link:focus .icon-contacts-smartphone {
  fill: #2196f3;
}

.button-list {
  padding-top: 60px;
  list-style-type: none;
}

.button-list-item {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .button-list {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .button-list {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 1199px) {
  .button-list {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .button-list {
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 480px) {
  .button-container {
    display: flex;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .button-container {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 480px) {
  .button-div {
    display: flex;
  }
  .button-div .button-list-item:last-child {
    margin-right: 0px;
  }
}

.portfolio-butten {
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-butten:hover, .portfolio-butten:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/*portfolio-list*/
.portfolio-list {
  display: inline-block;
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .portfolio-list {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list {
    padding-bottom: 94px;
  }
}

.portfolio-item {
  width: 450px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .portfolio-item:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-item {
    width: 354px;
  }
  .portfolio-item:nth-child(even) {
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-item {
    margin-right: 30px;
    width: 370px;
  }
  .portfolio-item:nth-child(3n) {
    margin-right: 0px;
  }
  .portfolio-item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.portfolio-item:hover, .portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:hover .overlay,
.portfolio-item:focus .overlay {
  transform: translateY(0);
}

.portfolio-link {
  text-decoration: none;
}

.portfolio-title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 20px;
  margin-left: 24px;
  margin-bottom: 4px;
  margin-right: 24px;
}

.portfolio-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: 24px;
  margin-left: 24px;
}

.portfolio-text {
  padding-top: 63px;
  padding-left: 39px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
}

.overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  width: 370px;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

/*footer*/
.footer {
  display: block;
  background-color: #2f303a;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer {
    width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    width: 768px;
  }
}

.footer-list:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .footer-list:not(:last-child) {
    margin-bottom: 9px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-list:last-child {
    margin-bottom: 60px;
  }
}

.footer-logo {
  display: block;
  color: #ffffff;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .div-contacts {
    display: flex;
    justify-content: center;
  }
  .footer .div-footer-social {
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer .footer-container {
    display: flex;
    align-items: baseline;
  }
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    align-items: baseline;
    max-width: 1600px;
  }
}

@media screen and (min-width: 1200px) {
  .div-contacts {
    display: flex;
    align-items: baseline;
  }
}

.contacts-footer {
  display: block;
  list-style-type: none;
}

@media screen and (min-width: 1200px) {
  .contacts-footer {
    width: 231px;
  }
}

.contacts-footer .link {
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .contacts-footer .link {
    line-height: 1.71;
  }
}

.contacts-footer .link-adress {
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .contacts-footer .link-adress {
    line-height: 1.14;
  }
}

.contacts-footer .link:hover,
.contacts-footer .link:focus,
.contacts-footer .link-adress:hover,
.contacts-footer .link-adress:focus {
  color: #2196f3;
}

.logo-web {
  color: #2196f3;
  text-decoration: none;
}

/* social-footer */
@media screen and (min-width: 1200px) {
  .div-footer-social {
    margin-left: 70px;
  }
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-icon-item:not(:last-child) {
  margin-right: 10px;
}

.footer-icon-link:hover, .footer-icon-link:focus {
  background-color: #2196f3;
}

.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1199px) {
  .footer-icon-list {
    margin-bottom: 60px;
  }
}

/* mailing-footer */
@media screen and (min-width: 1200px) {
  .mailing-form {
    display: flex;
  }
  .mailing-form:last-child {
    align-items: flex-end;
  }
  .div-footer-mailing {
    margin-left: 93px;
  }
}

.mailing-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.input-mailing {
  width: 450px;
  height: 50px;
  padding-left: 16px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 1200px) {
  .input-mailing {
    width: 358px;
  }
}

@media screen and (max-width: 1199px) {
  .input-mailing {
    margin-bottom: 20px;
  }
}

.input-mailing:focus {
  outline: none;
}

.button-mailing {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  background-color: #2196f3;
  color: #ffffff;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-right: 33px;
  border: 0px;
  width: 200px;
  height: 50px;
  margin-left: 12px;
}

.mailing-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 16px;
  transform: translate(-50%, -50%);
}

/* end-footer */
/*# sourceMappingURL=portfolio.css.map */